PORT=3001
APP_ENV=development
JWT_SECRET=change-me
CERTIFICATE_ENCRYPTION_KEY=change-me-too

API_CLIENT_DEFAULT_ID=local-client
API_CLIENT_DEFAULT_SECRET=local-secret

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

STATE_FILE=./storage/mock-state.json

SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
AUTO_TRANSMIT_HOMOLOGATION=true
